body {
    font-family: sans-serif;
}

.hide {
    display: none;
}

.container {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 50vh;
}

.container .row-wrapper {
    display: flex;
}

.cell {
    width: 5em;
    height: 5em;
    border: 1px solid black;
    background-color: rgb(233, 233, 233);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell svg {
    width: 2em;
    height: 2em;
}

.cell:hover {
    cursor: pointer;
    background-color: rgb(210, 210, 210);
}

.reset-button {
    height: 2em;
    margin-top: 24px;
}

.reset-button:hover {
    cursor: pointer;
}